@import './../../../assets/css/colors';
.full-width {
    width: 80%;
    margin-left: 10%;
    padding: inherit 2.5%;
    input, textarea {
        text-align: right;
    }
}

.right {
    text-align: right;
    margin-bottom: 2em;
}
