<p>
  study-list works!
</p>

<header class="transition">
  <h1>Tanulmányok</h1>
</header>

<section class="transition">

  <hr class="disz">
  <br/>
  <br/>
  <br/>
  <br/>

  <h2>Nyelvismeret</h2>
  <hr class="disz">
  <br/>
  <br/>
  <br/>
  <br/>
  <p class="justify">
    <b>Angol, Angol szakmai: középfokú</b>
    <br/>
    <br/> Angol nyelvű leírásokat, tutorial-ok és dokumentumokat gyakran olvasok, ezzel is bővítve szakmai tapasztalataimat. Szeretem
    nyomon követni az új trendeket, és megfelelni a kor elvásárainak. </p>
  <br/>
  <br/>
  <br/>

  <h2>Végzettség</h2>
  <hr class="disz">
  <br/>
  <br/>
  <br/>
  <br/>
  <p class="justify">
    <b>Kőrösy József Külkereskedelmi és Közgazdasági Szakközépiskola</b>
    <br/>
    <br/> Érettségi (2001), Számítástechnikai programozó szak, amelyet egyetemi tanulmányokkal folytattam, programozó matematikus
    szakon, de nem fejeztem be tanulmányaim, diplomát nem szereztem.</p>
  <br/>
  <br/>
  <br/>
