<mat-card id="video" class="mat-elevation-z3">
  <mat-card-content>

    <video autoplay loop [muted]="muted" *ngIf="shown">
      <source type="video/mp4" [src]="videoSrc[index]">
    </video>

    <img [src]="picSrc" class="sound" alt="Sound Off" title="Sound On" (click)="soundOnOff()" *ngIf="shown" />

    <h1>
      <br/>
      <br/>This is my online curriculum vitae
      <br/>
      <br/>in which
      <br/>I introduce myself,
      <br/>and I describe my professional experience, and my studies.
    </h1>

  </mat-card-content>
</mat-card>
<br/>
<br/>
