<div id="video">

  <video autoplay loop [muted]="muted">
    <source type="video/mp4" [src]="videoSrc[index]">
  </video>

  <img [src]="picSrc" class="sound"
  alt="Hang ki, illetve bekapcsolása"
  title="Hang ki, illetve bekapcsolása" (click)="soundOnOff()"
  />

  <h1 itemprop="offers">
    <span itemprop="name">Kerekes Zsolt</span>
    <br/>
    <br/> Ez az online szakmai önéletrajzom, amelyben részletezem referenciamunkáim,
    szakmai tapasztalataim, és tanulmányaim.</h1>
</div>
<br/>
<br/>
