<div id="video">

  <video autoplay loop muted>
    <source type="video/mp4" src="/assets/video/adventure-is-calling.mp4">
  </video>

  <img src="/assets/images/soundoff.png" id="sound" class="transition" alt="Hang ki, illetve bekapcsolása" title="Hang ki, illetve bekapcsolása"
  />

  <h2 itemprop="offers">
    <span itemprop="name">Kerekes Zsolt
    </span>
    <br/>
    <br/> Ez az online szakmai önéletrajzom, amelyben részletezem referenciamunkáim, szakmai tapasztalataim, és tanulmányaim.</h2>
</div>
