#video {
    position: relative;
    margin-top: -2.5%;
    background-image: url('./../../../assets/images/bg.jpg');
    background-size: cover;
    video {
        width: 100%;
        height: auto;
        margin-bottom: -0.2em;
    }
    #sound {
        width: 3em;
        height: auto;
        cursor: pointer;
        background-color: rgba(50, 50, 50, 0.4);
        padding: 1em;
        position: absolute;
        bottom: 1em;
        right: 1em;
        z-index: 1000;
        &:hover {
            background-color: rgba(50, 50, 50, 0.9);
        }
    }
    h2 {
        width: 70%;
        height: 46%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(50, 50, 50, 0.4);
        padding: 15%;
        color: #eeeeee;
        text-align: right;
        text-shadow: 0px 0px 3px #111111;
    }
}
