<p>
  professional-experience-list works!
</p>
<cv-professional-experience-item></cv-professional-experience-item>


<header class="transition">
  <h1>Referenciák</h1>
</header>

<section class="referenciak transition">

  <hr class="disz" />
  <br/>
  <br/>
  <br/>
  <br/>

<!--
  <header class="transition">
             <h1>Szakmai<br/>tapasztalatok</h1>
          </header>

          <section class="transition">

<hr class="disz"><br/><br/>
<div class="szlogo" >
	<img src="images/litologo.png" style="margin:0em -2em;"/>
	<h2>Web fejlesztő - Litofilm Kft.</h2>
	<h3>2015 - Jelenleg is</h3>
</div>
<p><b>Főbb feladatok és tevékenységek:</b></p>
<p class="justify">Megrendelő kérései alapján a grafikus megbízása webdizájn elkészítésére, majd ez alapján a teljes
weboldal kliens és szükség esetén szerver
oldalon történő lefejlesztése (bizonyos bonyolultsági szintig), az elkészített weboldal élesítése,
karbantartása, módostása, később további fejlesztések
elvégzése igény szerint, teljes életciklus végigkövetése.
Továbbbá hírlevél és landing oldal programozása, online marketing tevékenység, kampányok, hirdetések
lebobonyolítása, illetve követő és remarketing kódok illesztése.</p>
<br/><br/><hr class="disz"><br/><br/><br/><br/>


<div class="szlogo" >
	<img src="images/telekom.png" />
	<h2>Általános Call Center Képviselő - Magyar Telekom Nyrt.</h2>
	<h3>2012 - 2015</h3>
</div>
<p><b>Főbb feladatok és tevékenységek:</b></p>
<p class="justify">A beérkező hívások során az ügyfelek szakszerű és udvarias kiszolgálása, a cég
szolgáltatásainak és termékeinek értékesítése, a problémák felelősségteljes megoldása,
az esetek nyomon követése, adminisztráció elvégzése.</p>
<br/><br/><hr class="disz"><br/><br/><br/><br/>


<div class="szlogo" >
	<img src="images/lombard.png" />
	<h2>Kintlévőségkezelési Ügyfélszolgálati Főmunkatárs,<br/> később Telefonos Ügyfélszolgálati Munkatárs - Lombard Lízing Zrt.</h2>
	<h3>2010 - 2012</h3>
</div>
<p><b>Főbb feladatok és tevékenységek:</b></p>
<p class="justify">Vállalati és egyéni vállalkozó (nagyobb értékű ezközökkel rendelkező)  ügyfelekkel való kapcsolattartás,
szükség esetén figyelemfelhívás a hátralék rendezésére, később a beérkező hívások fogadása, saját hatáskörben
az ügyfelek problémáinak megoldásáról való gondoskodás, vagy annak a megfelelő ügyintézési szintre történő
továbbítása, adminisztráció elvégzése. Később a beérkező hívások során az ügyfelek szakszerű és
udvarias kiszolgálása, a cég szolgáltatásainak és termékeinek értékesítése, a problémák felelősségteljes
megoldása, az esetek nyomon követése, adminisztráció elvégzése.</p>
<br/><br/><hr class="disz"><br/><br/><br/><br/>


<div class="szlogo" >
	<img src="images/otp.png" />
	<h2>Kintlévőség kezelő Ügyfélreferens - OTP Bank Nyrt.</h2>
	<h3>2009 - 2010</h3>
</div>
<p><b>Főbb feladatok és tevékenységek:</b></p>
<p class="justify">Hátralékos hitelszámlával rendelkező ügyfelek telefonos tájékoztatása, és figyelem felhívása a
hátralék rendezésére, tájékoztatása a banki eszközökről, azok igénybevételeinek feltételeiről,
adminisztráció elvégzése.</p>
<br/><br/><hr class="disz"><br/><br/><br/><br/>


          </section>
 -->


</section>
