<label for="search"></label>
<input type="search" name="search" id="search" [(ngModel)]="search" placeholder="search">

<br><br><br>

<div *ngFor="let professionalExperience of professionalExperiences | filter:search">
  <div class="szlogo">
    <img [src]="professionalExperience.image" />
    <h2>{{professionalExperience.name}}</h2>
    <h3>{{professionalExperience.date}}</h3>
  </div>
  <p>
    <b>Főbb feladatok és tevékenységek:</b>
  </p>
  <p class="justify">
    {{professionalExperience.description}}
  </p>
  <hr class="disz">
  <br><br><br>
</div>
