
section p {
    text-align: center;
    line-height: 125%;
    padding: 2em 0em;
    font-size: 110%;
}

.tocenter {
    text-align: left;
    width: 28em;
    margin: 0 auto;
}

.tocenter progress {
    float: right;
}

.referenciak {
    text-align: center;
}

.referencia {
    margin: 0.2em 0.1em;
    padding: 0;
    width: 19em;
    height: 15em;
    display: inline-block;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.referencia p {
    background-color: rgba(50, 50, 50, 0.84);
    font-weight: bold;
    color: #eeeeee;
    padding: 0;
}

.referencia p:nth-child(1) {
    height: 3em;
    line-height: 3em;
    margin-top: 10.5em;
    width: 100%;
    border-top: 1px solid gray;
    text-transform: uppercase;
}

.referencia p:nth-child(2) {
    height: 8em;
    vertical-align: middle;
    border-top: 1px solid gray;
    padding: 1em;
}

.referencia:hover>a p:nth-child(1) {
    margin-top: 1.95em;
    background-color: rgba(50, 50, 50, 1);
}

.referencia p:nth-child(1):hover {
    color: gray;
}

.szlogo {
    width: 100%;
    text-align: left;
}

.szlogo img {
    width: auto;
    height: 5em;
    float: left;
}

.justify {
    text-align: justify;
}

.justify span {
    font-weight: bold;
    font-size: 105%;
}

.disz {
    width: 50%;
    float: left;
}

.fullpic {
    width: 100%;
    height: 8em;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    -webkit-box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

input[type="text"] {
    width: 90%;
    padding: 2.5% 5%;
    margin-bottom: 1em;
    background-color: rgba(245, 245, 245, 1);
}

textarea {
    resize: vertical;
    width: 90%;
    padding: 2.5% 5%;
    margin-bottom: 1em;
    height: 10em;
    background-color: rgba(245, 245, 245, 1);
}

input[type="text"]:hover,
textarea:focus,
input[type="text"]:focus,
textarea:hover {
    background-color: rgba(255, 255, 255, 1);
}

input[type="submit"] {
    cursor: pointer;
    padding: 1% 2.5%;
}

input[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 1);
}

form div {
    text-align: right;
}

footer {
    text-align: center;
    line-height: 140%;
}

.nav-icon {
    display: none;
}

@media (min-width:1360px) {
    html {
        font-size: 18px;
    }
}

@media (min-width:1920px) {
    html {
        font-size: 21px;
    }
}

@media (max-width:960px) {
    html {
        font-size: 18px;
    }
    nav {
        float: none;
        width: 97.5%;
        padding: 1%;
        font-size: 100%;
        height: 4em;
        position: relative;
        top: 0;
        left: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    nav:hover {
        width: 97.5%;
        font-size: 100%
    }
    nav ul {
        width: 100%;
    }
    nav ul a li img {
        /*max-width:5em;border:3px solid #eeeeee;border-radius:0.8em;*/
        display: none;
    }
    nav ul a {
        left: -110%;
        position: relative;
    }
    nav ul a:first-child {
        left: 0;
    }
    nav ul a li,
    nav ul a:last-child li {
        font-size: 80%;
        background-color: rgb(50, 50, 50);
        margin: 0;
        border-radius: 0;
    }
    nav ul a li:hover,
    nav ul a:last-child li:hover {
        background-color: #7588A1;
    }
    nav ul a:nth-child(1) li {
        border-radius: 0;
        margin: 0;
        border: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        left: 0%;
        padding-bottom: 0.75em;
        background-color: #7588A1;
    }
    nav ul a {
        overflow: hidden;
    }
    .tofront {
        left: 0% !important;
    }
    .nav-icon {
        position: absolute;
        right: 1%;
        display: block;
        width: auto;
        height: 2.05em;
        cursor: pointer;
        z-index: 10000;
        padding: 1.0em;
    }
    header,
    section,
    footer {
        float: none;
        width: 95%;
        padding: 2.5%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    #video img {
        width: 2em;
    }
    #video {
        margin: 0;
    }
    .tocenter {
        width: 100%;
        max-width: 23em;
    }
    #video h2 {
        font-size: 130%;
    }
    .justify {
        text-align: left;
    }
    .fullpic {
        height: 15em;
    }
}

@media (max-width:816px) {
    video,
    #video img {
        display: none;
    }
    #video h2 {
        position: relative;
    }
}

@media (max-width:400px) {
    progress {
        width: 100%;
        margin-bottom: 1em;
    }
}
