<h2>Count me on</h2>

<hr class="disz">

<p class="justify">
  <span>Amiben számíthatsz rám</span>: Weboldal kliens oldalon egyedi dizájn alapján történő fejlesztése a kért kliens oldali funciókkal,
  figyelembe véve az aktuális UI és UX elvárásokat. Szükség esetén szerver oldalon is végzek (alacsony bonyolultsági szintig)
  munkafolyamatokat. Az elkészítést követően a weboldal teljes életciklusát végigkövetem az élesítéstől kezdve a karbantartáson,
  a további fejlesztések elvégzésén keresztül a weboldal későbbi esetleges cseréjéig.
</p>

<p class="justify">
  <span>Amiben sajnos NEM számíthatsz rám</span>: MVC rendszerek, JAVA nyelv. Ha ezek bármelyikére van szükséged, sajnos nem én
  vagyok az embered - legalábbis egyenlőre. Nyitott vagyok a fejlődésre, szívesen megtanulnám az MVC rendszerek használatát,
  vagy a JAVA nyelvet.
</p>

<div class="fullpic" style="background-image: url(/assets/images/html-programming.jpg)"></div>
