header {
  font-size: 75%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  @media (max-width:961px) {
    position: static;
    z-index: 5000;
    left: 0;
    width: 100%;
    height: auto;
  }
  @media (min-width:960px) {}
}

.mainContent {
  width: 75%;
  padding: 2.5% 5%;
  float: right;
  @media (max-width:961px) {
    width: 90%;
    floating: none;
  }

}
