.bar {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1em;
}

.label {
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-bottom: .6em;
}

.full-width {
  width: 80%;
  margin-left: 10%;
  padding: inherit 2.5%;
}

.shortened {
  max-height: 7em;
  overflow-y: auto;
}
