p.tocenter {
    padding: 0.5em;
    progress {
        float: right;
    }
}

input {
    padding: 0.3em 5%;
    text-align: right;
    margin: 0em 0em 1em 0em;
    float: right;
    &:focus,
    &:hover {
        outline: none;
    }
}
