<h3>Ismert programozási nyelvek</h3>
<p class="justify">Lenti programozási nyelveket jelenlegi munkahelyemen alkalmazom, és folyamatos tanulással fejlesztem tudásom. Egyedül és
  csapatban is dolgozom, nem okoz problémát ha más által írt forráskodót kell bővítenem. Rendezett áttekinthető módon írom
  meg a forrráskódot, hogy később más is tudjon vele dolgozni. Minden esetben igyekszem pozitív attitűddel rendelkező, terhelhető,
  hatékony és megbízható csapattag lenni.</p>
<br/>
<br/>

<p class="tocenter" *ngFor="let skill of programmingSkills">
  {{skill.name}}
  <progress [value]="skill.progress" max="100"></progress>
</p>

<h3>Egyéb ismeretek</h3>

<p class="tocenter" *ngFor="let skill of etcSkills">
  {{skill.name}}
  <progress [value]="skill.progress" max="100"></progress>
</p>

<p>Ismereteimet folyamatosan igyekszem fejleszteni.</p>

<br/>
<br/>
<br/>
<div class="fullpic" style="background-image: url(/assets/images/programming.jpg)"></div>
<br/>
<br/>
<br/>
