<mat-card class="mat-elevation-z3">
  <mat-card-header>
    <mat-card-title>
      <h3>Programming Skills</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <hr class="disz">

    <p class="justify">
      I use these programming skills in my current workplace, working in a team (I consider myself a team player). I'm writing
      in a clean code style, so others can work my code later. In each case, I try to have a positive attitude, to be an
      efficient and reliable team member.
    </p>

    <mat-form-field class="full-width">
      <input matInput placeholder="Type here something to start the search" maxlength="25" type="search" name="search" id="search"
        [(ngModel)]="search">
      <mat-hint align="end">{{search.length}} / 25</mat-hint>
    </mat-form-field>

    <br>
    <br>
    <br>

    <span *ngFor="let skill of programmingSkills | filter:search">
      <mat-label class="label"> {{skill.name}}
        <mat-progress-bar class="bar" mode="determinate" [value]="skill.progress"></mat-progress-bar>
      </mat-label>
    </span>

    <p>I am constantly trying to develop my knowledge.</p>

    <div class="fullpic" style="background-image: url(/assets/images/programming.jpg)"></div>

  </mat-card-content>
</mat-card>
