<h3>Programming Skills</h3>

<hr class="disz">

<p class="justify">
  I use these programming skills in my current workplace, working in a team (I consider myself a team player). I'm writing in
  a clean code style, so others can work my code later. In each case, I try to have a positive attitude, to be an efficient
  and reliable team member.
</p>

<label for="search"></label>
<input type="search" name="search" id="search" [(ngModel)]="search" placeholder="search">

<br>
<br>
<br>

<p class="tocenter" *ngFor="let skill of programmingSkills | filter:search">
  {{skill.name}}
  <progress [value]="skill.progress" max="100"></progress>
</p>

<p>I am constantly trying to develop my knowledge.</p>

<div class="fullpic" style="background-image: url(/assets/images/programming.jpg)"></div>
