.bar {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1em;
}

.label {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 0.3em;
}

.full-width {
    width: 80%;
    margin-left: 10%;
    padding: inherit 2.5%;
    input {
        text-align: right;
    }
}
