<p>
  reference-list works!
</p>
<cv-reference-item></cv-reference-item>

<!--
  <div class="referencia" style="background-image: url(images/1.jpg);">
    <a href="http://aqualift.hu" target="_blank" />
    <p class="transition">AQUALIFT.HU</p>
    </a>
    <p>Aqualift kft weblapja. Cél: a különböző pupmpákról és szivattyúkról információadás, kapcsolatfelvételi lehetőség biztosítása.</p>
  </div>

  <div class="referencia" style="background-image: url(images/2.jpg);">
    <a href="http://sybacontroll.hu" target="_blank" />
    <p class="transition">sybacontroll.hu</p>
    </a>
    <p>A Syba Controll Kft weboldala. Cél: a szolgáltatások, referenciák bemutatása, árajánlatkérési lehetőség biztosítása.</p>
  </div>

  <div class="referencia" style="background-image: url(images/3.jpg);">
    <a href="http://k-fal.hu" target="_blank" />
    <p class="transition">k-fal.hu</p>
    </a>
    <p>K-Fal Kft weblapja. Cél: a szolgáltatások, referenciák bemutatása, kapcsolatfelvételi lehetőség biztosítása.</p>
  </div>

  <div class="referencia" style="background-image: url(images/4.jpg);">
    <a href="http://adamliptak-composer.com" target="_blank" />
    <p class="transition">adamliptak-composer.com</p>
    </a>
    <p>Kezdő zeneszerző első weblapja, amely bemutatja tevékenységét, és kapcsolatfelvételi lehetőséget biztosít.</p>
  </div>

  <div class="referencia" style="background-image: url(images/5.jpg);">
    <a href="http://forrasakku.hu" target="_blank" />
    <p class="transition">forrasakku.HU</p>
    </a>
    <p>Forrásakku weblapja. Cél: Akkuk, termékleírás, fontos információk ismertetése, kapcsolatfelvételi lehetőség biztosítása.</p>
  </div>

  <div class="referencia" style="background-image: url(images/6.jpg);">
    <a href="http://youngkft.hu" target="_blank" />
    <p class="transition">youngkft.HU</p>
    </a>
    <p>Young kft weblapja. Cél: a szolgáltatások, referenciák bemutatása, kapcsolatfelvételi lehetőség biztosítása.</p>
  </div>

  <div class="referencia" style="background-image: url(images/7.jpg);">
    <a href="http://kuriozumpizzeria.com" target="_blank" />
    <p class="transition">kuriozumpizzeria.com</p>
    </a>
    <p>A Kuriózum Pizzéria weblapja. Cél: a rendelhető ételek bemutatása, rendelés, akciós lehetőségek biztosítása, lehetőség
      rendelésre. </p>
  </div>

  <div class="referencia" style="background-image: url(images/8.jpg);">
    <a href="http://5dultrahangszeged.hu" target="_blank" />
    <p class="transition">5dultrahangszeged.HU</p>
    </a>
    <p>Az 5D Ultrahang Szeged weblapja. Cél: a szolgáltatások, az árak, és a rendelő bemutatása, időpontfoglalás lehetőség biztosítása.</p>
  </div>

  <div class="referencia" style="background-image: url(images/9.jpg);">
    <a href="http://palyazat-kommunikacio.hu" target="_blank" />
    <p class="transition">palyazat-kommunikacio.HU</p>
    </a>
    <p>A Pályázai kommunikáció landing oldala. Cél: tájékoztatás a kötelezettségekről, kapcsolatfelvételi lehetőség biztosítása.
      </p>
  </div>

  <div class="referencia" style="background-image: url(images/10.jpg);">
    <a href="http://hamartrade.hu" target="_blank" />
    <p class="transition">hamartrade.HU</p>
    </a>
    <p>A Hamar Trade Kft weboldala. Cél: Szolgáltatások, termékek, árak részletezése, rendelés és kapcsolatfelvételi lehetőség
      biztosítása. </p>
  </div>

  <div class="referencia" style="background-image: url(images/11.jpg);">
    <a href="http://agroazis.hu" target="_blank" />
    <p class="transition">agroazis.HU</p>
    </a>
    <p>Az Agroázis Kft weboldala. Cél: Szolgáltatások, termékekek részletezése, cég bemutatása és kapcsolatfelvételi lehetőség
      biztosítása. </p>
  </div>

  <div class="referencia" style="background-image: url(images/12.jpg);">
    <a href="http://mmggroup.hu" target="_blank" />
    <p class="transition">mmggroup.hu</p>
    </a>
    <p>Az MMG Group weboldala. Cél: A cég bemutatása, a szolgáltatások, termékek, árak részletezése, kapcsolatfelvételi lehetőség
      biztosítása. </p>
  </div>

  <div class="referencia" style="background-image: url(images/13.jpg);">
    <a href="http://gaborabraham-mosaicart.com" target="_blank" />
    <p class="transition">gaborabraham-mosaicart.com</p>
    </a>
    <p>Ábrahám Gábor weboldala. Cél: Termékek, árak részletezése, és kapcsolatfelvételi lehetőség biztosítása. </p>
  </div>

  <div class="referencia" style="background-image: url(images/14.jpg);">
    <a href="http://kalvados.hu" target="_blank" />
    <p class="transition">kalvados.HU</p>
    </a>
    <p>K-Fal Kft weblapja. Cél: a szolgáltatások, referenciák bemutatása, kapcsolatfelvételi lehetőség biztosítása.</p>
  </div>

  <div class="referencia" style="background-image: url(images/15.jpg);">
    <a href="http://megalloetterem.com" target="_blank" />
    <p class="transition">megalloetterem.com</p>
    </a>
    <p>A Megálló étterem weboldala. Cél: Szolgáltatások, árak részletezése, rendelés és kapcsolatfelvételi lehetőség biztosítása.
      </p>
  </div>

  <div class="referencia" style="background-image: url(images/16.jpg);">
    <a href="http://megszervez.hu" target="_blank" />
    <p class="transition">megszervez.HU</p>
    </a>
    <p>A Megálló étterem weboldala. Cél: Szolgáltatások, árak részletezése, rendelés és kapcsolatfelvételi lehetőség biztosítása.</p>
  </div>

  <div class="referencia" style="background-image: url(images/17.jpg);">
    <a href="http://sudalu.hu" target="_blank" />
    <p class="transition">sudalu.HU</p>
    </a>
    <p>A Süd Alu weboldala. Cél: Cég bemutatása és kapcsolatfelvételi lehetőség biztosítása. .</p>
  </div>

  <div class="referencia" style="background-image: url(images/18.jpg);">
    <a href="http://sudbau.hu" target="_blank" />
    <p class="transition">sudbau.HU</p>
    </a>
    <p>A Süd Bau weboldala. Cél: Cég bemutatása és kapcsolatfelvételi lehetőség biztosítása. </p>
  </div>

  <div class="referencia" style="background-image: url(images/19.jpg);">
    <a href="http://sybacontroll.hu" target="_blank" />
    <p class="transition">sybacontroll.HU</p>
    </a>
    <p>A Syba Controll Kft weboldala. Cél: a szolgáltatások, referenciák bemutatása, árajánlatkérési lehetőség biztosítása.</p>
  </div>

  <div class="referencia" style="background-image: url(images/20.jpg);">
    <a href="http://szegedilmbt.hu" target="_blank" />
    <p class="transition">szegedilmbt.HU</p>
    </a>
    <p>A Szegedi Lmbt weboldala. Cél: A szervezet bemutatása, céljainak ismertetése, hírek szolgáltatása, és kapcsolatfelvételi
      lehetőség biztosítása.</p>
  </div>

  <div class="referencia" style="background-image: url(images/21.jpg);">
    <a href="http://szrszki.hu" target="_blank" />
    <p class="transition">szrszki.HU</p>
    </a>
    <p>A Szegedi Rendészeti Szakközépiskola weboldala. Cél: Iskola bemutatása, hírek, információk közlése, és kapcsolatfelvételi
      lehetőség biztosítása. </p>
  </div>

  <div class="referencia" style="background-image: url(images/22.jpg);">
    <a href="http://motivaldmagad.hu" target="_blank" />
    <p class="transition">motivaldmagad.HU</p>
    </a>
    <p>A Motiváld magad! weboldal. Cél: Pozitív üzenetek, történetek közvetítése, terjesztése. </p>
  </div>

  <div class="referencia" style="background-image: url(images/23.jpg);">
    <a href="http://maximabeauty.hu" target="_blank" />
    <p class="transition">maximabeauty.HU</p>
    </a>
    <p>A Maximabeauty weboldal. Cél: A cég bemutatása, szolgáltatások ismertetése, kapcsolatfelvételi lehetőség biztosítása.
      </p>
  </div>



  <div class="referencia" style="background-image: url(images/24.jpg);">
    <a target="_blank" />
    <p class="transition">decor-fastasy.HU</p>
    </a>
    <p>
      <br/>
      <br/> - Jelenleg fejlesztés alatt - </p>

  </div>
  <div class="referencia" style="background-image: url(images/25.jpg);">
    <a target="_blank" />
    <p class="transition">ja-consulting.HU</p>
    </a>
    <p>
      <br/>
      <br/> - Jelenleg fejlesztés alatt - </p>
  </div>

  </div>
  <div class="referencia" style="background-image: url(images/26.jpg);">
    <a target="_blank" />
    <p class="transition">maximawork.hu</p>
    </a>
    <p>
      <br/>
      <br/> - Jelenleg fejlesztés alatt - </p>
  </div>

  </div>
  <div class="referencia" style="background-image: url(images/27.jpg);">
    <a target="_blank" />
    <p class="transition">pmtgep.hu</p>
    </a>
    <p>
      <br/>
      <br/> - Jelenleg fejlesztés alatt - </p>
  </div>

  </div>
  <div class="referencia" style="background-image: url(images/28.jpg);">
    <a target="_blank" />
    <p class="transition">szegedetterem.hu</p>
    </a>
    <p>
      <br/>
      <br/> - Jelenleg fejlesztés alatt - </p>
  </div>
 -->
