@import './../../../assets/css/colors';
.full-width {
    width: 80%;
    margin-left: 10%;
    padding: inherit 2.5%;
}

.center {
    text-align: center;
}

.referencia {
    margin: 0.5em;
    padding: 0;
    width: 19em;
    height: 15em;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.referenciatext {
    height: 1em;
    line-height: 1em;
    margin-top: 14em;
    width: 100%;
    border-top: 1px solid $mainbgcolor;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.referencia:hover .referenciatext {
    margin-top: 9em;
    background-color: rgba(50, 50, 50, 1);
    color: $secondarybgcolor;
}
