<header class="mat-elevation-z8">
  <nav>
    <div class="desktop">
      <a [routerLink]="['/about-me']">
        <mat-card class="colorful">
          <mat-card-header>
            <mat-card-title class="title">Zsolt Kerekes</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img class="img mat-elevation-z6" src="assets/images/profile.jpg" alt="profile picture Zsolt Kerekes" title="Zsolt Kerekes"
            />
          </mat-card-content>
        </mat-card>
      </a>

      <mat-nav-list>
        <a class="colorful mat-elevation-z1" mat-list-item *ngFor="let link of links" [routerLink]="link.routerLink" routerLinkActive="active">
          {{link.anchorText}}
        </a>
        <a class="colorful mat-elevation-z1" mat-list-item href="https://www.linkedin.com/in/kerekes-zsolt/" target="_blank">LinkedIn Profile</a>
      </mat-nav-list>
    </div>

    <div class="mobile">
      <h3 class="left">Zsolt Kerekes CV</h3>

      <button mat-icon-button [matMenuTriggerFor]="menu" class="right">
        <mat-icon>list</mat-icon>
      </button>

      <mat-menu #menu="matMenu">

        <button mat-menu-item *ngFor="let link of links" [routerLink]="link.routerLink">
          <span>{{link.anchorText}}</span>
        </button>

        <a href="https://www.linkedin.com/in/kerekes-zsolt/" target="_blank">
          <button mat-menu-item>
            <span>LinkedIn Profile</span>
          </button>
        </a>

      </mat-menu>
      <div class="clear"></div>
    </div>
  </nav>
</header>
