@import './assets/css/reset.css';
@import './assets/css/colors';

//////////
html {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 150%;
    line-height: 150%;
    text-transform: uppercase;
    font-family: 'Coda', cursive;
    text-align: right;
}
