<h2>Magamról</h2>
<hr class="disz">
<p class="justify"></p>Kommunikatív, társaságkedvelő, érdeklődő személyként az élet napos oldalát keresem. Munkavégzésem során arra törekszem,
hogy a rám bízott feladatokat a lehető legjobban végezzem el, és megszerezzem a szükséges tudást ennek érdekében. Csapatban
könnyen megtalálom a közös hangot munkatársaimmal.
<p class="justify">Fontos tényező, hogy emberközpontú és konstruktív szellemiségben dolgozzak, mert kamatoztatni és fejleszteni szeretném az
  eddig megszerzett tapasztalataimat, és értékeimmel én is hozzá szeretnék járulni az eredmények eléréséhez.</p>
